<div class="container text-center d-flex justify-content-center">

    <div class="row">
        <div class="col-xs-4">
            {{#each burgers.notDevoured}}
            <div class='not-devoured'>
                <p>{{this.id}}. {{this.burger_name}}</p>
                <button id='{{this.id}}' class='devourBtn'>DEVOUR IT!</button>
            </div>
            {{/each}}
        </div>

        <div class="col-xs-4">
            <img src='assets/img/burger.png' class='d-block' alt="Burger Picture">
            <p id='badName' class="badName"><strong>That burger already exists</strong></p>
            <p id='error' class="error"><strong>Type the burger name before submitting</strong></p>
            <textarea name="newBurger" id="textArea" class='d-block' cols='40' rows="2"></textarea>
            <button class='btn btn-primary' id='submit' name='submit'>Submit</button>
        </div>
        <div class="col-xs-4">
            <div>
                {{#each burgers.devoured}}
                <div class="devoured">
                <p>{{this.burger_name}}</p>
                </div>
                {{/each}}
            </div>

        </div>
    </div>

</div>