body{
    margin: auto;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    margin-top: 40px;
}

.not-devoured, .devoured{
    background-color: white;
    margin: 20px;
    width: 200px;
    height: 75px;
}


img{
    max-width: 340px;
    height: auto;
    margin-bottom: 20px;
}