body{
    margin: auto;
    margin-top: 30px;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: auto;
    margin-top: 40px;
}

.not-devoured-container, .devoured-container{
    min-width: 240px;
}

.not-devoured, .devoured{
    background-color: white;
    margin: 20px;
    width: 200px;
    min-height: 75px;
    padding: 10px;
}

.submit{
    margin: 10px;
}

.main{
    max-width: 340px;
}

.error, .badName, .tooManyBurgers, .tooMuchOnPlate{
    display: none;
}

img{
    max-width: 340px;
    height: auto;
    margin-bottom: 20px;
}